p{
    color:white;
    font-weight: bold;
    background-color:#1338BE;
    text-align: center;
}
.container{
    margin: 0 auto;
    background-color: white;
    width: 200px;
    height: 250px;
    border-radius: 5%;
}
body{
    background-color: #2273be;
}
input[type="range"]{
    margin: 5px;
    width: 80%;
}
#hid, #wid{
    width: 30px;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 25%;
    text-align: center;
}
input[type='button']{
    align-self: center;
    background-color: #1338BE;
    color: white;
    font-weight: bold;
    width: 90%;
    margin: 5%;
    margin-top: 20px;
    border-radius: 5%;
    box-shadow: 3px 3px 5px darkslategray ;
}
#result{
    width: 90%;
    height: 40px;
    line-height: 20px;
    margin: 5px;
    font-weight: bold;
    text-align: center;
    box-shadow: 3px 3px 5px darkslategray;
}
.flex-display{
    display: flex;
    flex-direction: column;
}