input[type=text],input[type=button]{
    border: 3px solid purple;
    width: 300px;
    margin: 5px;
}
input[type=button]{
    background-color: purple;
    color:white;
    text-transform: uppercase;
    transform: 0.5s;
}
input[type=button]:hover{
    background-color: white;
    color:purple;
    text-transform: uppercase;
    transform: 0.5s;
}
.btn{
    background-color: purple;
    color: white;
    transform: 0.5s;
}
.btn:hover{
    background-color: white;
    color: purple;
    transform: 0.5s;
}